<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
<meta charset="ISO-8859-1">
<title>Add Course</title>
</head>
<body>
<div class="container">
		<div th:replace="fragments/navigationbar :: navigationbar"></div>
		<div class="containner" style="margin-top: 5%;">
<div class="row clearfix">
				<div class="col-xs-2 column">
					<div th:replace="fragments/admin-sidebar :: admin-sidebar"></div>
				</div>
				<div class="col-xs-10 column">
					<h3 class=" col-sm-offset-2 control-label">Add New Course</h3>
					<form class="form-horizontal" role="form" th:action="@{/admin/NewCourse}" th:object="${course}" method="post" id="course-form"
				data-toggle="validator">
				<div class="form-group">
					<label for="courseid" class="col-sm-2 control-label">Course ID</label>
					<div class="col-sm-10">
						<input type="text" maxlength="5" class="form-control" required th:field="*{courseid}" placeholder="CourseID">
					</div>
				</div>
				<div class="form-group">
					<label for="course_name" class="col-sm-2 control-label">Course Name</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" required th:field="*{courseName}" placeholder="Course Name">
					</div>
				</div>
					<div class="form-group">
							<label for="sel1" class="col-sm-2 control-label">Select Lecturer:</label>
							<div class="col-sm-10">
							<select th:field ="*{account}" class="form-control" id="lecture-list" style="width:200px" size="1">
								<option th:each="lecturer:${courselist}" th:value="${lecturer.userid}" th:text="${lecturer.name}"></option>
							</select>
							</div>
						</div>
					<div class="form-group">
					<label for="class_size" class="col-sm-2 control-label">Class Size</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" required th:field="*{classSize}" placeholder="Number of Students">
					</div>
				</div>
				<div class="form-group">
					<label for="start_date" class="col-sm-2 control-label">Start Date</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" required th:field="*{startDate}" placeholder="Start Date">
				</div>
				</div>
					<div class="form-group">
					<label for="duration" class="col-sm-2 control-label">Course Duration</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" required th:field="*{duration}" placeholder="Course Duration">
					</div>
				</div>
				<div class="form-group">
					<label for="course_status" class="col-sm-2 control-label">Course Status</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" required th:field="*{courseStatus}" placeholder="Course Status">
					</div>
				</div>
				
				<div class="form-group">
					<label for="course_status" class="col-sm-2 control-label">Credit</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" required th:field="*{credit}" placeholder="Credit">
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-2 control-label">
						<button type="submit" class="btn btn-primary">Add Course</button>
					</div>
				</div>
			</form>
				</div>
			</div>
			</div>
	
		
	
			</div>
			
		<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
				<script type="text/javascript" th:src="@{/js/tables/course-form-validation.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}"></script>
	

</body>

			
	
</html>