<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="admin-sidebar">
	<nav class="hidden-print hidden-xs hidden-sm affix">
		<ul class="nav">
			<li><a href="/admin/lecturer-course"> <span>Manage Student</span>
			</a></li>
			<li><a href="/lecturer/view-enrollment"> <span>Manage Lecturer</span>
			</a></li>
			<li><a href="/lecturer/update-grades"> <span>Manage Course</span>
			</a></li>
			<li><a href="/admin/enrollment"> <span>Enrollment</span>
			</a></li>
		</ul>
	</nav>
</div>