<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<!--  -->
	<div class="container" style="margin-top: 21px;">
		<div th:replace="fragments/navigationbar :: navigationbar"></div>
		<div class="containner" style="margin-top: 0%;">
		</div>
	</div>
	
	
	<div class = "jumbotron" style ="background-color:#ffde59"> 
	<div class = "container">
		<div class="row">
 				<div class="col-sm-3"><img src="/img/3.png" width="200" height="200"></div>
	  			<div class="col-sm-9">
	  			<h1>Slytherin University for Computer Science</h1>
				</div>
		</div>
	</div>
	</div>



	<div class="container">
	  <div class="row">
	    <h2>Universities and governments: Partnering for possibilities</h2>
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
	    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
	    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
	    Aliquam in felis sit amet augue.
	    <br>
	    <br>
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis finibus consequat. Praesent nec 
	    pharetra orci. Duis dapibus augue id tincidunt cursus. Vivamus tincidunt diam velit, quis viverra 
	    metus dignissim nec. Fusce elementum, mi eget porttitor consequat, est purus fringilla odio, a 
	    ornare lacus neque in libero. Ut ut sapien aliquet, imperdiet mi eget, semper velit. Phasellus 
	    aliquet, eros nec sodales cursus, dui odio dictum arcu, ac commodo dui velit a sapien. Etiam luctus 
	    venenatis tristique. Nunc eget consequat arcu, sed pretium tortor. Nulla eu rhoncus mi. Aliquam \
	    tristique arcu lacus, non varius ipsum efficitur at.
	    <br>
	    
	   
	    <h2>Setting the pace of public-private partnerships</h2>
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
	    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
	    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
	    Aliquam in felis sit amet augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
	    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
	    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
	    Aliquam in felis sit amet augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
	    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
	    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
	    Aliquam in felis sit amet augue.
	     <br>
	     <br>
		    <p class="lead"><em>
		    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis finibus consequat. Praesent nec 
		    pharetra orci. Duis dapibus augue id tincidunt cursus."</em></p>
		    
	    Vivamus tincidunt diam velit, quis viverra metus dignissim nec. Fusce elementum, mi eget porttitor consequat, est purus fringilla odio, a 
	    ornare lacus neque in libero. Ut ut sapien aliquet, imperdiet mi eget, semper velit. Phasellus 
	    aliquet, eros nec sodales cursus, dui odio dictum arcu, ac commodo dui velit a sapien. Etiam luctus 
	    venenatis tristique. Nunc eget consequat arcu, sed pretium tortor. Nulla eu rhoncus mi. Aliquam \
	    tristique arcu lacus, non varius ipsum efficitur at.
	    <br>
	  </div>
	 </div>

	<div th:replace="fragments/footer::footer"></div>
	<script type="text/javascript" th:src="@{/js/bootstrap-table.js}"></script>
	<script type="text/javascript" th:src="@{/js/tables/demo-customers.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-table-export.js}"></script>
	<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>

</body>


</html>